{{!-- A5e Mancer Header --}}
<div role="banner" data-application-part="header" class="am-app-header">
  <h1 id="am-app-title">{{localize 'am.app.header-title'}}</h1>
  <div class="progress-overlay" aria-live="polite">
    <span class="wizard-progress-text" aria-label="{{localize 'am.app.creation-progress'}}"></span>
  </div>
</div>
