{{!-- item-controls partial --}}
<div class="am-item-controls">
  <a class="am-item-chat" data-item-id="{{this.id}}" title="Show in chat">
    <i class="fa-solid fa-comment"></i>
  </a>
  <a class="am-item-edit" data-item-id="{{this.id}}" title="Edit">
    <i class="fa-solid fa-pen"></i>
  </a>
  <a class="am-item-delete" data-item-id="{{this.id}}" title="Delete">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
